@using Resources.Res
@model NoteBoarrd.Models.HubModel
@if (Model.Message != null)
{
    <div class="row">
        @Model.Message
    </div>
}
<div id="BoardList" class="row">
    <ul>
        @if (Model.BoardList.Count() == 0)
        {
            <li>@WebResources.NoBoardsFound</li>
        }
        else
        {
            foreach (NoteBoarrd.Models.BoardModel element in Model.BoardList)
            {
                <li id="BoardListElement">
                    @if (element.IsPasswordProtected)
                    { <div>Pass</div> }
                    <div>
                        @Html.ActionLink(
                         linkText: element.Name
                         , actionName: "Index"
                         , controllerName: "Board"
                         , routeValues: new { id = element.Id }
                         , htmlAttributes: new { id = "Board_" + element.Id })
                    </div>
                </li>
            }
        }
    </ul>
</div>
<div>
    @Html.ActionLink(WebResources.CreateNewBoard, "CreateBoard")
</div>