body a{
    color: white;
    text-decoration: none;
}

body div .row{
    padding: 0px;
    margin: 0px;
}

#Navbar{
    display: inline-block;
    clear:both;
    width:100%;
    background-color: black;
    color: white;
}
    
    #Navbar #Logout{
        float:right;
        clear:both;
    }

#Content{
    color:black;


}

    #Content a{
        color:black;
    }

#Board {
    height: 90vh;
    background-image: url('../Resources/Images/Background-cork.jpg');
}

#newNoteTextArea{
    height:400px;
}